In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

df = pd.read_csv('df_final.csv')
df = df.iloc[:, 1:]
df.index = df['class0']
df = df[df.columns[1:]]
df

,reviews-median_top_50,reviews_cut_n_most_top_10,brand_count,brand_top_ratio,rank_big_cut_n_most_top_10,rank_big_80_top_50,stars_cut_n_most_top_10,stars-mean_top_50,r_p,price-median_top_50,price_cut_n_most_top_10,price_80_top_10
class0,,,,,,,,,,,,
x1,9,3,30,0.083333,5,21059.0,1,2.193750,31.291667,186.75,10,340.4
x10,4,6,23,0.239130,5,25908.0,4,2.413043,36.173913,251.25,10,361.1
x2,5,6,26,0.183673,5,23607.0,4,2.677551,33.938776,229.70,10,336.3
x3,8,6,15,0.250000,5,22532.0,3,2.370455,34.704545,206.70,10,316.3
x4,6,6,36,0.133333,5,25643.0,2,2.608889,32.755556,207.50,10,348.3
x5,7,3,20,0.319149,5,26413.0,5,2.895745,33.276596,236.30,10,327.9
x7,2,6,32,0.204082,5,19706.0,1,2.371429,38.632653,178.40,10,331.9
x8,3,6,22,0.146341,5,22325.0,2,2.353659,38.073171,233.80,10,322.7
x9,1,6,17,0.360000,5,24094.0,1,2.578000,38.780000,217.40,10,330.7

### 归一化

In [2]:
from sklearn.preprocessing import MinMaxScaler

sc = MinMaxScaler()
df[df.columns] = sc.fit_transform(df[df.columns])
df

,reviews-median_top_50,reviews_cut_n_most_top_10,brand_count,brand_top_ratio,rank_big_cut_n_most_top_10,rank_big_80_top_50,stars_cut_n_most_top_10,stars-mean_top_50,r_p,price-median_top_50,price_cut_n_most_top_10,price_80_top_10
class0,,,,,,,,,,,,
x1,1.000,0.0,0.714286,0.000000,0.0,0.201730,0.00,0.000000,0.000000,0.114619,0.0,0.537946
x10,0.375,1.0,0.380952,0.563122,0.0,0.924706,0.75,0.312386,0.651980,1.000000,0.0,1.000000
x2,0.500,1.0,0.523810,0.362675,0.0,0.581631,0.75,0.689180,0.353498,0.704187,0.0,0.446429
x3,0.875,1.0,0.000000,0.602410,0.0,0.421351,0.50,0.251718,0.455759,0.388469,0.0,0.000000
x4,0.625,1.0,1.000000,0.180723,0.0,0.885195,0.25,0.591370,0.195489,0.399451,0.0,0.714286
x5,0.750,0.0,0.238095,0.852346,0.0,1.000000,1.00,1.000000,0.265070,0.794784,0.0,0.258929
x7,0.125,1.0,0.809524,0.436440,0.0,0.000000,0.00,0.253105,0.980323,0.000000,0.0,0.348214
x8,0.250,1.0,0.333333,0.227740,0.0,0.390488,0.25,0.227792,0.905609,0.760467,0.0,0.142857
x9,0.000,1.0,0.095238,1.000000,0.0,0.654242,0.00,0.547369,1.000000,0.535347,0.0,0.321429

### 计算比重

In [3]:
df_prop = df.apply(lambda x: x / x.sum(), axis=0)
df_prop = df_prop.replace(np.NaN, 0)
df_prop

,reviews-median_top_50,reviews_cut_n_most_top_10,brand_count,brand_top_ratio,rank_big_cut_n_most_top_10,rank_big_80_top_50,stars_cut_n_most_top_10,stars-mean_top_50,r_p,price-median_top_50,price_cut_n_most_top_10,price_80_top_10
class0,,,,,,,,,,,,
x1,0.222222,0.000000,0.174419,0.000000,0.0,0.039873,0.000000,0.000000,0.000000,0.024401,0.0,0.142688
x10,0.083333,0.142857,0.093023,0.133269,0.0,0.182772,0.214286,0.080659,0.135611,0.212887,0.0,0.265246
x2,0.111111,0.142857,0.127907,0.085831,0.0,0.114962,0.214286,0.177949,0.073527,0.149912,0.0,0.118413
x3,0.194444,0.142857,0.000000,0.142567,0.0,0.083282,0.142857,0.064994,0.094797,0.082700,0.0,0.000000
x4,0.138889,0.142857,0.244186,0.042770,0.0,0.174962,0.071429,0.152694,0.040661,0.085038,0.0,0.189461
x5,0.166667,0.000000,0.058140,0.201717,0.0,0.197654,0.285714,0.258203,0.055134,0.169199,0.0,0.068680
x7,0.027778,0.142857,0.197674,0.103288,0.0,0.000000,0.000000,0.065353,0.203906,0.000000,0.0,0.092362
x8,0.055556,0.142857,0.081395,0.053897,0.0,0.077182,0.071429,0.058817,0.188365,0.161894,0.0,0.037892
x9,0.000000,0.142857,0.023256,0.236661,0.0,0.129314,0.000000,0.141332,0.207998,0.113968,0.0,0.085258

### 计算每个指标的熵值

In [4]:
K = 1/np.log(len(df_prop))
tmp = df_prop*np.log(df_prop)
tmp = tmp.replace(np.NaN, 0)
entropy = -K*(tmp.sum(axis=0))
entropy

reviews-median_top_50         0.881475
reviews_cut_n_most_top_10     0.885622
brand_count                   0.869418
brand_top_ratio               0.886457
rank_big_cut_n_most_top_10   -0.000000
rank_big_80_top_50            0.902244
stars_cut_n_most_top_10       0.761469
stars-mean_top_50             0.885635
r_p                           0.883607
price-median_top_50           0.893428
price_cut_n_most_top_10      -0.000000
price_80_top_10               0.880906
dtype: float64

### 计算每个指标的权重

In [5]:
weight = (1 - entropy) / np.sum(1 - entropy)
weight

reviews-median_top_50         0.036249
reviews_cut_n_most_top_10     0.034981
brand_count                   0.039937
brand_top_ratio               0.034725
rank_big_cut_n_most_top_10    0.305835
rank_big_80_top_50            0.029897
stars_cut_n_most_top_10       0.072951
stars-mean_top_50             0.034977
r_p                           0.035597
price-median_top_50           0.032593
price_cut_n_most_top_10       0.305835
price_80_top_10               0.036423
dtype: float64

### 指标加权计算score

In [6]:
score = df_prop.apply(lambda x: np.sum(100 * x * weight), axis=1)
score.nlargest(5)

class0
x10    6.170595
x5     6.113065
x2     5.422360
x4     4.817135
x3     3.825113
dtype: float64