### 删除价格和排名为空的数据

In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

data = pd.read_csv('ShoppingData.csv')
data = data.iloc[:, 1:]
data.dropna(subset=['price', 'rank1_list'], inplace=True)
data.head()

  class0  price  rank1_list  stars  reviews  rank_big       brand      stock
0     x1  243.9           1    1.5      609   21111.0       Furbo  In Stock.
1     x1   55.5           2    1.3      904    6643.0       TOOGE  In Stock.
2     x1  360.0           3    3.9        6   22288.0  BOOCOSA-US  In Stock.
3     x1   34.4           4    4.1     1916    1451.0       WOPET  In Stock.
4     x1  124.6           5    4.7      844   29857.0     VINSION  In Stock.

### 删除brand为空和缺货的数据

In [3]:
data.isna().any()

class0        False
price         False
rank1_list    False
stars         False
reviews       False
rank_big      False
brand          True
stock         False
dtype: bool

In [4]:
data.dropna(subset=['brand'], inplace=True)

In [5]:
data['stock'].unique()

array(['In Stock.', 'Only 12 left in stock - order soon.',
       'Only 6 left in stock - order soon.', 'Currently unavailable.',
       'In stock.', 'Available from these sellers.',
       'Only 16 left in stock - order soon.',
       'Only 9 left in stock - order soon.',
       'Only 1 left in stock - order soon.',
       'Usually ships within 1 to 2 months.',
       'Only 1 left in stock (more on the way).',
       'In stock on February 20, 2020.',
       'Only 17 left in stock - order soon.',
       'Only 10 left in stock - order soon.',
       'Only 2 left in stock - order soon.',
       'Only 18 left in stock (more on the way).',
       'Only 5 left in stock - order soon.',
       'Only 11 left in stock - order soon.',
       'Only 18 left in stock - order soon.',
       'Only 3 left in stock - order soon.',
       'In stock on February 18, 2020.', 'In stock on February 19, 2020.',
       'Only 13 left in stock - order soon.',
       'Only 19 left in stock - order soon.',
       'Usually ships within 2 to 5 weeks.',
       'Only 8 left in stock - order soon.',
       'Only 4 left in stock - order soon.',
       'Only 7 left in stock - order soon.',
       'Only 20 left in stock - order soon.',
       'Only 3 left in stock (more on the way).',
       'Only 14 left in stock - order soon.',
       'Available to ship in 1-2 days.',
       'Only 13 left in stock (more on the way).',
       'Only 14 left in stock (more on the way).',
       'Temporarily out of stock.',
       'Only 2 left in stock (more on the way).',
       'Only 15 left in stock - order soon.',
       'Only 9 left in stock (more on the way).',
       'In stock on February 16, 2020.', 'In stock on March 12, 2020.'],
      dtype=object)

In [6]:
data = data[data['stock']!='Currently unavailable.']
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 496 entries, 0 to 545
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   class0      496 non-null    object
 1   price       496 non-null    float64
 2   rank1_list  496 non-null    int64
 3   stars       496 non-null    float64
 4   reviews     496 non-null    int64
 5   rank_big    496 non-null    float64
 6   brand       496 non-null    object
 7   stock       496 non-null    object
dtypes: float64(3), int64(2), object(3)
memory usage: 34.9+ KB

### 删除商品过少的类别

In [7]:
data['class0'].value_counts()

x2     50
x9     50
x1     49
x7     49
x10    47
x5     47
x4     46
x3     45
x8     41
x6     38
x11    34
Name: class0, dtype: int64

In [8]:
data = data[(data['class0']!='x6') & (data['class0']!='x11')]
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 424 entries, 0 to 545
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   class0      424 non-null    object
 1   price       424 non-null    float64
 2   rank1_list  424 non-null    int64
 3   stars       424 non-null    float64
 4   reviews     424 non-null    int64
 5   rank_big    424 non-null    float64
 6   brand       424 non-null    object
 7   stock       424 non-null    object
dtypes: float64(3), int64(2), object(3)
memory usage: 29.8+ KB

### 补充排名空值

In [9]:
data.isna().any()

class0        False
price         False
rank1_list    False
stars         False
reviews       False
rank_big      False
brand         False
stock         False
dtype: bool

### 数值变量离散化处理

In [10]:
# rank1_list
data['rank1_list_cut'] = pd.cut(x=data['rank1_list'], bins=[-np.inf, 10, np.inf],
                                labels=['<=10', '>10'])
# reviews
data = data[data['reviews']>=50]
data['reviews_cut'] = pd.cut(x=data['reviews'], bins=[49,100,300,1000,1500,2000,np.inf],
                             labels=['50-100','100-300','300-1000','1000-1500','1500-2000','>2000'])
# price
data['price_cut'] = pd.cut(x=data['price'], bins=[0,20,40,60,80,100,120,140,160,180,np.inf],
                           labels=['0-20','20-40','40-60','60-80','80-100','100-120','120-140','140-160','160-180','>180'])
# stars
data['stars_cut'] = pd.cut(x=data['stars'], bins=[-np.inf,1,2,3,4,5], labels=['0-1','1-2','2-3','3-4','4-5'])
# rank_big
data['rank_big_cut'] = pd.cut(x=data['rank_big'], bins=[0,500,1000,5000,10000,50000,100000,np.inf],
                              labels=['0-500','500-1000','1000-5000','5000-10000','10000-50000','50000-100000','>100000'])
data

,class0,price,rank1_list,stars,reviews,rank_big,brand,stock,rank1_list_cut,reviews_cut,price_cut,stars_cut,rank_big_cut
0,x1,243.9,1,1.5,609,21111.0,Furbo,In Stock.,<=10,300-1000,>180,1-2,10000-50000
1,x1,55.5,2,1.3,904,6643.0,TOOGE,In Stock.,<=10,300-1000,40-60,1-2,5000-10000
3,x1,34.4,4,4.1,1916,1451.0,WOPET,In Stock.,<=10,1500-2000,20-40,4-5,1000-5000
4,x1,124.6,5,4.7,844,29857.0,VINSION,In Stock.,<=10,300-1000,120-140,4-5,10000-50000
5,x1,38.4,6,2.5,94,4090.0,TOOGE,In Stock.,<=10,50-100,20-40,2-3,1000-5000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
541,x9,19.1,46,1.8,289,12277.0,Salifert,Only 7 left in stock - order soon.,>10,100-300,0-20,1-2,10000-50000
542,x9,97.1,47,4.1,2260,29330.0,Salifert,In Stock.,>10,>2000,80-100,4-5,10000-50000
543,x9,334.7,48,3.1,1641,29164.0,Advocate,In Stock.,>10,1500-2000,>180,3-4,10000-50000
544,x9,302.6,49,0.5,1902,17937.0,Hanna Instruments,Only 8 left in stock - order soon.,>10,1500-2000,>180,0-1,10000-50000
545,x9,340.0,50,2.3,1737,19535.0,Salifert,In Stock.,>10,1500-2000,>180,2-3,10000-50000

### 离散型变量序列处理

In [11]:
for i in ['rank1_list_cut','reviews_cut','price_cut','stars_cut','rank_big_cut']:
    data[f'{i}_n'] = pd.Categorical(data[i]).codes+1
data

,class0,price,rank1_list,stars,reviews,rank_big,brand,stock,rank1_list_cut,reviews_cut,price_cut,stars_cut,rank_big_cut,rank1_list_cut_n,reviews_cut_n,price_cut_n,stars_cut_n,rank_big_cut_n
0,x1,243.9,1,1.5,609,21111.0,Furbo,In Stock.,<=10,300-1000,>180,1-2,10000-50000,1,3,10,2,5
1,x1,55.5,2,1.3,904,6643.0,TOOGE,In Stock.,<=10,300-1000,40-60,1-2,5000-10000,1,3,3,2,4
3,x1,34.4,4,4.1,1916,1451.0,WOPET,In Stock.,<=10,1500-2000,20-40,4-5,1000-5000,1,5,2,5,3
4,x1,124.6,5,4.7,844,29857.0,VINSION,In Stock.,<=10,300-1000,120-140,4-5,10000-50000,1,3,7,5,5
5,x1,38.4,6,2.5,94,4090.0,TOOGE,In Stock.,<=10,50-100,20-40,2-3,1000-5000,1,1,2,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541,x9,19.1,46,1.8,289,12277.0,Salifert,Only 7 left in stock - order soon.,>10,100-300,0-20,1-2,10000-50000,2,2,1,2,5
542,x9,97.1,47,4.1,2260,29330.0,Salifert,In Stock.,>10,>2000,80-100,4-5,10000-50000,2,6,5,5,5
543,x9,334.7,48,3.1,1641,29164.0,Advocate,In Stock.,>10,1500-2000,>180,3-4,10000-50000,2,5,10,4,5
544,x9,302.6,49,0.5,1902,17937.0,Hanna Instruments,Only 8 left in stock - order soon.,>10,1500-2000,>180,0-1,10000-50000,2,5,10,1,5
545,x9,340.0,50,2.3,1737,19535.0,Salifert,In Stock.,>10,1500-2000,>180,2-3,10000-50000,2,5,10,3,5

### 新指标review-price

In [12]:
data['r_p'] = data['price_cut_n']*data['reviews_cut_n']
data

,class0,price,rank1_list,stars,reviews,rank_big,brand,stock,rank1_list_cut,reviews_cut,price_cut,stars_cut,rank_big_cut,rank1_list_cut_n,reviews_cut_n,price_cut_n,stars_cut_n,rank_big_cut_n,r_p
0,x1,243.9,1,1.5,609,21111.0,Furbo,In Stock.,<=10,300-1000,>180,1-2,10000-50000,1,3,10,2,5,30
1,x1,55.5,2,1.3,904,6643.0,TOOGE,In Stock.,<=10,300-1000,40-60,1-2,5000-10000,1,3,3,2,4,9
3,x1,34.4,4,4.1,1916,1451.0,WOPET,In Stock.,<=10,1500-2000,20-40,4-5,1000-5000,1,5,2,5,3,10
4,x1,124.6,5,4.7,844,29857.0,VINSION,In Stock.,<=10,300-1000,120-140,4-5,10000-50000,1,3,7,5,5,21
5,x1,38.4,6,2.5,94,4090.0,TOOGE,In Stock.,<=10,50-100,20-40,2-3,1000-5000,1,1,2,3,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541,x9,19.1,46,1.8,289,12277.0,Salifert,Only 7 left in stock - order soon.,>10,100-300,0-20,1-2,10000-50000,2,2,1,2,5,2
542,x9,97.1,47,4.1,2260,29330.0,Salifert,In Stock.,>10,>2000,80-100,4-5,10000-50000,2,6,5,5,5,30
543,x9,334.7,48,3.1,1641,29164.0,Advocate,In Stock.,>10,1500-2000,>180,3-4,10000-50000,2,5,10,4,5,50
544,x9,302.6,49,0.5,1902,17937.0,Hanna Instruments,Only 8 left in stock - order soon.,>10,1500-2000,>180,0-1,10000-50000,2,5,10,1,5,50
545,x9,340.0,50,2.3,1737,19535.0,Salifert,In Stock.,>10,1500-2000,>180,2-3,10000-50000,2,5,10,3,5,50

In [13]:
data.to_csv('products.csv')
pd.read_csv('products.csv').head()

,Unnamed: 0,class0,price,rank1_list,stars,reviews,rank_big,brand,stock,rank1_list_cut,reviews_cut,price_cut,stars_cut,rank_big_cut,rank1_list_cut_n,reviews_cut_n,price_cut_n,stars_cut_n,rank_big_cut_n,r_p
0,0,x1,243.9,1,1.5,609,21111.0,Furbo,In Stock.,<=10,300-1000,>180,1-2,10000-50000,1,3,10,2,5,30
1,1,x1,55.5,2,1.3,904,6643.0,TOOGE,In Stock.,<=10,300-1000,40-60,1-2,5000-10000,1,3,3,2,4,9
2,3,x1,34.4,4,4.1,1916,1451.0,WOPET,In Stock.,<=10,1500-2000,20-40,4-5,1000-5000,1,5,2,5,3,10
3,4,x1,124.6,5,4.7,844,29857.0,VINSION,In Stock.,<=10,300-1000,120-140,4-5,10000-50000,1,3,7,5,5,21
4,5,x1,38.4,6,2.5,94,4090.0,TOOGE,In Stock.,<=10,50-100,20-40,2-3,1000-5000,1,1,2,3,3,2